<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shirnk-to-fit=no"
        />
        <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/flickity@2/dist/flickity.min.css"
        />
        <link rel="stylesheet" type="text/css" href="/styles/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/styles/contacto.css" />
        <link rel="stylesheet" type="text/css" href="/styles/footer.css" />

        {% set title = entry.title %}
        <title>
            {% if title is defined %}{{ title }} - {% endif %}{{ siteName }}
        </title>
        <link rel="icon" type="image/png" href="/resources/favicon.png" />

        <script
            src="https://www.google.com/recaptcha/api.js"
            async
            defer
        ></script>
    </head>
    <body>
        {% include "navbar.twig" %}

        <div class="justify-content-center text-center">
            <h2 class="mt-5 pt-3 mb-3 ">{{ entry.title }}</h2>
            <h5 class="col-lg-8 col-md-11 mx-auto">
                {{ entry.descripcion }}
            </h5>
        </div>

        {% macro errorList(errors) %} {% if errors %}
        <ul class="errors">
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endmacro %} {% from _self import errorList %}

        <div class="container col-lg-8 col-10 mt-5 pt-2 mb-5">
            <div class="row">
                <div class="col-md-8 col-12">
                    <form
                        id="emailForm"
                        name="emailForm"
                        method="post"
                        accept-charset="UTF-8"
                        class="needs-validation recaptchaForm"
                        novalidate
                    >
                        {{ csrfInput() }}
                        <input
                            type="hidden"
                            name="action"
                            value="contact-form/send"
                        />
                        {# {{ redirectInput("/contacto?res=success") }} #}

                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span
                                    class="input-group-text"
                                    id="basic-addon1"
                                >
                                    Nombre
                                </span>
                            </div>

                            <input
                                id="from-name"
                                name="fromName"
                                type="text"
                                class="form-control"
                                placeholder="Nombre completo"
                                aria-label="Nombre"
                                aria-describedby="basic-addon1"
                                value="{{ message.fromName ?? '' }}"
                            />

                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <span
                                    class="input-group-text"
                                    id="basic-addon1"
                                >
                                    Correo electrónico
                                </span>
                            </div>
                            <input
                                id="from-email"
                                type="email"
                                name="fromEmail"
                                class="form-control"
                                aria-describedby="Correo electronico para respuesta"
                                placeholder="correo@ejemplo.com"
                                value="{{ message.fromEmail ?? '' }}"
                            />

                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                        <small id="emailHelp" class="form-text text-muted mb-3"
                            >Este correo se utilizará únicamente para responder
                            a este mensaje.</small
                        >
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Mensaje</span>
                            </div>
                            <textarea
                                id="message"
                                name="message"
                                class="form-control"
                                aria-label="With textarea"
                                required
                                >{{ message.message ?? '' }}</textarea
                            >
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>

                        <div
                            class="g-recaptcha float-left col-12"
                            data-sitekey="6LfdVOEUAAAAAD8nJe5eb96FrhQloORyEjAgXlQ-"
                            style="display: inline-block;"
                        ></div>
                        <br />

                        <button
                            type="button"
                            class="btn btn-primary float-right mt-3 submit-button"
                        >
                            Enviar
                        </button>
                    </form>
                </div>

                <script>
                    $(".submit-button").click(function() {
                        var recaptcha = $("#g-recaptcha-response").val();
                        if (recaptcha === "") {
                            alert("Please check recaptcha");
                        } else {
                            var posting = $.post(
                                "/_php/submit.php",
                                {
                                    secret:
                                        "6LfdVOEUAAAAAK6C5RbPrHV0d5d0k6X6ot-LY7og",
                                    response: recaptcha
                                },
                                function(response) {
                                    var ans = JSON.parse(response);
                                    if (ans.success) {
                                        document
                                            .getElementById("emailForm")
                                            .submit();
                                    }
                                }
                            );
                        }
                    });
                </script>

                <div
                    class="contactSocialNetwork d-none d-md-block col-md-4 col-12 text-right"
                >
                    {{ informacionContacto.contactInfo }}
                    Redes sociales: <br />
                    <div class="mt-2">
                        {% for module in redesSociales.socialMedia.all() %} {%
                        include "_modules/" ~ module.type %} {% endfor %}
                    </div>
                </div>
                <div
                    class="contactSocialNetwork row mx-auto mt-4 d-md-none col-sm-11 col-12"
                >
                    <div class="">
                        {{ informacionContacto.contactInfo }}
                    </div>
                    <div class="mx-sm-auto">
                        Redes sociales: <br />
                        <div class="mt-2">
                            {% for module in redesSociales.socialMedia.all() %}
                            {% include "_modules/" ~ module.type %} {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
                "use strict";
                window.addEventListener(
                    "load",
                    function() {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName(
                            "needs-validation"
                        );
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(
                            forms,
                            function(form) {
                                form.addEventListener(
                                    "submit",
                                    function(event) {
                                        if (form.checkValidity() === false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add("was-validated");
                                    },
                                    false
                                );
                            }
                        );
                    },
                    false
                );
            })();
        </script>

        {% include "footer.twig" %}
    </body>
</html>
