<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shirnk-to-fit=no"
        />
        <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/flickity@2/dist/flickity.min.css"
        />
        <link rel="stylesheet" type="text/css" href="/styles/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/styles/fotos.css" />
        <link rel="stylesheet" type="text/css" href="/styles/footer.css" />

        {% set title = entry.title %}
        <title>
            {% if title is defined %}{{ title }} - {% endif %}{{ siteName }}
        </title>
        <link rel="icon" type="image/png" href="/resources/favicon.png" />
    </head>
    <body>
        {% include "navbar.twig" %}

        <div class="justify-content-center text-center">
            <h2 class="mt-5 pt-3 mb-3 ">{{ entry.title }}</h2>
            <h5 class="col-8 mx-auto">
                {{ entry.descripcion }}
            </h5>
        </div>

        <div class="container mt-5 pt-2 mb-5">
            {% set albumEntries = craft.entries.section('album').all() %} {% for
            album in albumEntries %}
            <div class="album col-3 px-0">
                {% set photo = album.photo.one() %}
                <img class="col-12 px-0" src="{{ photo.getUrl() }}" alt="" />
                <div class="album-overlay col-12 px-0">
                    <h4 class="col-6 mx-auto text-center ">
                        <a class="text-white" href="{{ album.getUrl() }}">
                            {{ album.title }}
                        </a>
                    </h4>
                </div>
            </div>

            {% endfor %}
        </div>

        {% include "footer.twig" %}
    </body>
</html>
