<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shirnk-to-fit=no"
        />
        <meta
            name="keywords"
            content="Asociacion deportiva, curridabat, tiro con arco, deporte, jose maria zeledon, adearco, costa rica, informacion, deporte, ubicacion, precio, niños, adolescentes"
        />
        <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/flickity@2/dist/flickity.min.css"
        />
        <link rel="stylesheet" type="text/css" href="/styles/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/styles/informacion.css" />
        <link rel="stylesheet" type="text/css" href="/styles/footer.css" />

        {% set title = entry.title %}
        <title>
            {% if title is defined %}{{ title }} - {% endif %}{{ siteName }}
        </title>
        <link rel="icon" type="image/png" href="/resources/favicon.png" />
    </head>
    <body>
        {% include "navbar.twig" %} {% set infoData = entry.sectionField.all()
        %}

        <div class="container col-12">
            <div class="row ">
                <div class="sideBar col-lg-3 col-md-4 ml-0 pl-0 py-5">
                    <div class="ml-4">
                        <h4 class="col-12 text-break mb-4">
                            {{ entry.title }}
                        </h4>

                        {% for row in infoData %}
                        <h6 class="ml-5 mt-3">
                            <a class="" href="#{{ row.getId() }}">{{
                                row.sectionTitle
                            }}</a>
                        </h6>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 py-5">
                    <div class="mx-lg-5 mx-md-3 mx-2">
                        {% for row in infoData %}
                        <h4>
                            <a name="{{ row.getId() }}">{{
                                row.sectionTitle
                            }}</a>
                        </h4>
                        <div class="px-md-5 px-3 pt-3 pb-4">
                            {{ row.sectionDescription }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% include "footer.twig" %}
    </body>
</html>
